@font-face {
    font-family: 'AveriaGWF-Regular';
    src: url('fonts/AveriaGWF-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AveriaGWF-LightItalic';
    src: url('fonts/AveriaGWF-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'AveriaGWF-Light';
    src: url('fonts/AveriaGWF-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'AveriaGWF-Italic';
    src: url('fonts/AveriaGWF-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'AveriaGWF-Gruesa';
    src: url('fonts/AveriaGWF-Gruesa.ttf') format('truetype');
}

@font-face {
    font-family: 'AveriaGWF-BoldItalic';
    src: url('fonts/AveriaGWF-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'AveriaGWF-Bold';
    src: url('fonts/AveriaGWF-Bold.ttf') format('truetype');
}