#mainContent {
    padding-top: 5vh;
    width: 100%;
    min-height: 90vh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to bottom, #FFFFFF, #cce6ff);
    overflow-x: hidden;
}

.imageTL {
    margin: 8vh auto auto;
    width: 550px;
}

.imageTR {
    margin: auto auto 1vh;
    width: 550px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 11em;
    font-size: 1.3em;
}

/* center content */
.centered {
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    text-align: center;
}

.image-style {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.feature {
    text-align: center;
    margin-bottom: 30px;
}

.feature i {
    color: #009DF8;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
}

.blue {
    font-weight: 600;
    color: #4c97e4;
}

#moreProduct {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 100px;
}

#moreProduct a {
    text-decoration: none;
    color: #007bff;
    font-weight: bolder;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 50px;
    overflow: hidden;
}

.product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 290px;
    margin: 10px;
    border: 1px solid #5351ae;
    padding: 30px;
    background: linear-gradient(to bottom, #f3f6ff, #b1d5f8);
    filter: drop-shadow(1px 1px 11px rgba(0, 0, 0, 0.5));
}

.product h2 {
    width: 100%;
    text-align: left;
}

.product p {
    width: 100%;
    text-align: left;
}

.product div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.product div s {
    font-size: 20px;
    font-weight: 600;
}

.product div p {
    color: #007bff;
    font-size: 25px;
    font-weight: 700;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #5e8fca;
}

.viewButton {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #007bff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.serviceDiv {
    min-height: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 149px;
    color: #009DF8;
}

.logService {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h3 {
    color: #333333;
}

.servLogo {
    height: 80px;
}

.headService {
    text-align: center;
    font-size: 2.7em;
}

#serviceHead {
    margin-top: 100px;
}

/* Navbar Styling */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.navbar-brand img {
    height: 5vh;
}

.nav-link {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
}

/*.nav-link:hover {*/
/*    color: #4c97e4;*/
/*}*/

.styled-hr {
    border-top: 3px solid #ADD8E6;
    width: 50%;
    margin: 40px auto;
}

footer {
    background-color: #f1f1f1;
    padding: 50px 0;
    margin-top: 50px;
}

h3 {
    color: #333333;
    margin: 2em;
}

h4 {
    color: #2d2d2d;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
}

p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 0;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    color: #555;
    margin-right: 20px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.footer-section {
    margin-bottom: 40px;
}

@media screen and (max-width: 1400px) {
    #mainContent {
        padding-top: 5vh;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to bottom, #FFFFFF, #cce6ff);
    }

    .imageTL {
        margin: 8vh auto auto;
        width: 90%;
    }

    .imageTR {
        margin: auto;
        width: 90%;
    }

    .centered {
        height: auto;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        font-size: 1.7em;
        text-align: center;
    }
}


#textContent {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 50%;
    text-align: justify;
}
#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#indiaMart {
    margin-top: 20px;
    height: 600px;
    width: 400px;
}
.image-container {
    display: flex;
    width: 557px;
    height: 200px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
}

.image-container img {
    width: 113px;
    height: auto;
}


.slide-in-left {
    position: relative;
    left: -100%;
    opacity: 0;
    transform: scale(0.5);
    animation: slide-in-left 2s ease-in-out forwards;
}

@keyframes slide-in-left {
    0% {
        left: -100%;
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        left: 0;
        opacity: 1;
        transform: scale(1);
    }
}

.slide-in-right {
    position: relative;
    right: -100%;
    opacity: 0;
    transform: scale(0.5);
    animation: slide-in-right 2s ease-in-out forwards;
}

@keyframes slide-in-right {
    0% {
        right: -100%;
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        right: 0;
        opacity: 1;
        transform: scale(1);
    }
}

#fade-in-text {
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards;
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.typing-demo {
    margin: auto;
    width: 22ch;
    animation: typing 1s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

.button-appear {
    opacity: 0;
    transform: translateY(20px);
    animation: buttonAppear 1.5s ease-in-out forwards;
}

@keyframes buttonAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}